# NumPy Essentials (Part:1 - Arrays)

Hi Guys,<br>
Welcome to the NumPy Essentials lecture part 1.<br>

As a fundamental package for scientific computing, NumPy provides the foundations of mathematical, scientific, engineering and data science programming within the Python Echo-system. NumPyâ€™s main object is the homogeneous multidimensional array.<br> 

**NumPY stands for? Ans: Numerical Python  
Numpy developed by? Ans: Travis Oliphant**

**I hope that you have already installed NumPy, let's move on a create a new notebook to explore more about NumPy.** <br>

# Numpy Arrays
### `arange()`,  `linspace()`, `zeros()`,  `ones()`, `eye()`, `rand()`, `randn()`, `randint()`
### Methods: `reshape()`, `max()`, `min()`, `argmax()`, `argmin()`<br>
### Attributes: `size, shape, dtype` 
### Indexing & slicing of 1-D arrays (vectors)
###  Indexing & slicing 2-D arrays (matrices)

In [1]:
# Let import NumPy
import numpy as np

NumPy has many built-in functions and capabilities. We will focus on some of the most important and key concepts of this powerful library.

# Numpy Arrays

NumPy arrays will be the main concept that we will be using in this course. These arrays essentially come in two flavors: <br>
* **Vectors:** Vectors are strictly 1-dimensional array
*  **Matrices:** Matrices are 2-dimensional (matrix can still have only one row or one column).

## Creating NumPy Arrays

### From Python data type (e.g. List, Tuple)

In [4]:
# Lets create a Python list. 
my_list = [-1,0,1] 

my_list

[-1, 0, 1]

To create a NumPy array, from a Python data structure, we use NumPy's array function. <br>
The NumPy's array function can be accessed by typing "np.array". <br>
We need to cast our Python data structure, my_list, as a parameter to the array function.<br>

In [7]:
my_array = np.array(my_list)

my_array

array([-1,  0,  1])

In [8]:
# Lets create and cast a list of list to generate 2-D array 
my_matrix = [[1,2,3],[4,5,6]]
my_matrix

[[1, 2, 3], [4, 5, 6]]

In [9]:
matrix_one = np.array(my_matrix)
matrix_one

array([[1, 2, 3],
       [4, 5, 6]])

In [10]:
matrix_one.shape

(2, 3)

In [11]:
# We can use Tuple instead of list as well. 
my_tuple = (-1,0,1)
my_array = np.array(my_tuple) 
my_array, type(my_array)

(array([-1,  0,  1]), numpy.ndarray)

### Array creation using NumPy's Built-in methods

Most of the times, we use NumPy built-in methods to create arrays. These are much simpler and faster.

### `arange()`

* arange() is very much similar to Python function range() <br>
* Syntax: arange([start,] stop[, step,], dtype=None) <br>
* Return evenly spaced values within a given interval. <br>

*Press shift+tab for the documentation.*

In [12]:
num = np.arange(100) # similar to range() in Python, not including 100  
num

array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16,
       17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33,
       34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50,
       51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67,
       68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84,
       85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99])

In [13]:
# We can give the step
np.arange(3,10,2)

array([3, 5, 7, 9])

In [15]:
# We can give the step and dtype
np.arange(0,10,2, dtype=float)

array([0., 2., 4., 6., 8.])

### `linspace()`
Return evenly spaced numbers over a specified interval.<br>
*Press shift+tab for the documentation.*

In [19]:
# start from 1 & end at 15 with 15 evenly spaced points b/w 1 to 15.
np.linspace(1, 100, 1000, retstep=True)

(array([  1.        ,   1.0990991 ,   1.1981982 ,   1.2972973 ,
          1.3963964 ,   1.4954955 ,   1.59459459,   1.69369369,
          1.79279279,   1.89189189,   1.99099099,   2.09009009,
          2.18918919,   2.28828829,   2.38738739,   2.48648649,
          2.58558559,   2.68468468,   2.78378378,   2.88288288,
          2.98198198,   3.08108108,   3.18018018,   3.27927928,
          3.37837838,   3.47747748,   3.57657658,   3.67567568,
          3.77477477,   3.87387387,   3.97297297,   4.07207207,
          4.17117117,   4.27027027,   4.36936937,   4.46846847,
          4.56756757,   4.66666667,   4.76576577,   4.86486486,
          4.96396396,   5.06306306,   5.16216216,   5.26126126,
          5.36036036,   5.45945946,   5.55855856,   5.65765766,
          5.75675676,   5.85585586,   5.95495495,   6.05405405,
          6.15315315,   6.25225225,   6.35135135,   6.45045045,
          6.54954955,   6.64864865,   6.74774775,   6.84684685,
          6.94594595,   7.04504505,   7.14414414,   7.24324324,
          7.34234234,   7.44144144,   7.54054054,   7.63963964,
          7.73873874,   7.83783784,   7.93693694,   8.03603604,
          8.13513514,   8.23423423,   8.33333333,   8.43243243,
          8.53153153,   8.63063063,   8.72972973,   8.82882883,
          8.92792793,   9.02702703,   9.12612613,   9.22522523,
          9.32432432,   9.42342342,   9.52252252,   9.62162162,
          9.72072072,   9.81981982,   9.91891892,  10.01801802,
         10.11711712,  10.21621622,  10.31531532,  10.41441441,
         10.51351351,  10.61261261,  10.71171171,  10.81081081,
         10.90990991,  11.00900901,  11.10810811,  11.20720721,
         11.30630631,  11.40540541,  11.5045045 ,  11.6036036 ,
         11.7027027 ,  11.8018018 ,  11.9009009 ,  12.        ,
         12.0990991 ,  12.1981982 ,  12.2972973 ,  12.3963964 ,
         12.4954955 ,  12.59459459,  12.69369369,  12.79279279,
         12.89189189,  12.99099099,  13.09009009,  13.18918919,
         13.28828829,  13.38738739,  13.48648649,  13.58558559,
         13.68468468,  13.78378378,  13.88288288,  13.98198198,
         14.08108108,  14.18018018,  14.27927928,  14.37837838,
         14.47747748,  14.57657658,  14.67567568,  14.77477477,
         14.87387387,  14.97297297,  15.07207207,  15.17117117,
         15.27027027,  15.36936937,  15.46846847,  15.56756757,
         15.66666667,  15.76576577,  15.86486486,  15.96396396,
         16.06306306,  16.16216216,  16.26126126,  16.36036036,
         16.45945946,  16.55855856,  16.65765766,  16.75675676,
         16.85585586,  16.95495495,  17.05405405,  17.15315315,
         17.25225225,  17.35135135,  17.45045045,  17.54954955,
         17.64864865,  17.74774775,  17.84684685,  17.94594595,
         18.04504505,  18.14414414,  18.24324324,  18.34234234,
         18.44144144,  18.54054054,  18.63963964,  18.73873874,
         18.83783784,  18.93693694,  19.03603604,  19.13513514,
         19.23423423,  19.33333333,  19.43243243,  19.53153153,
         19.63063063,  19.72972973,  19.82882883,  19.92792793,
         20.02702703,  20.12612613,  20.22522523,  20.32432432,
         20.42342342,  20.52252252,  20.62162162,  20.72072072,
         20.81981982,  20.91891892,  21.01801802,  21.11711712,
         21.21621622,  21.31531532,  21.41441441,  21.51351351,
         21.61261261,  21.71171171,  21.81081081,  21.90990991,
         22.00900901,  22.10810811,  22.20720721,  22.30630631,
         22.40540541,  22.5045045 ,  22.6036036 ,  22.7027027 ,
         22.8018018 ,  22.9009009 ,  23.        ,  23.0990991 ,
         23.1981982 ,  23.2972973 ,  23.3963964 ,  23.4954955 ,
         23.59459459,  23.69369369,  23.79279279,  23.89189189,
         23.99099099,  24.09009009,  24.18918919,  24.28828829,
         24.38738739,  24.48648649,  24.58558559,  24.68468468,
         24.78378378,  24.88288288,  24.98198198,  25.08108108,
         25.18018018,  25.27927928,  25.37837838,  25.47747748,
         25.57657658,  25.67567568,  25.77477477,  25.87387387,
         25.97297297,  26.07207207,  26.17117117,  26.27027027,
         26.36936937,  26.46846847,  26.56756757,  26.66666667,
         26.76576577,  26.86486486,  26.96396396,  27.06306306,
         27.16216216,  27.26126126,  27.36036036,  27.45945946,
         27.55855856,  27.65765766,  27.75675676,  27.85585586,
         27.95495495,  28.05405405,  28.15315315,  28.25225225,
         28.35135135,  28.45045045,  28.54954955,  28.64864865,
         28.74774775,  28.84684685,  28.94594595,  29.04504505,
         29.14414414,  29.24324324,  29.34234234,  29.44144144,
         29.54054054,  29.63963964,  29.73873874,  29.83783784,
         29.93693694,  30.03603604,  30.13513514,  30.23423423,
         30.33333333,  30.43243243,  30.53153153,  30.63063063,
         30.72972973,  30.82882883,  30.92792793,  31.02702703,
         31.12612613,  31.22522523,  31.32432432,  31.42342342,
         31.52252252,  31.62162162,  31.72072072,  31.81981982,
         31.91891892,  32.01801802,  32.11711712,  32.21621622,
         32.31531532,  32.41441441,  32.51351351,  32.61261261,
         32.71171171,  32.81081081,  32.90990991,  33.00900901,
         33.10810811,  33.20720721,  33.30630631,  33.40540541,
         33.5045045 ,  33.6036036 ,  33.7027027 ,  33.8018018 ,
         33.9009009 ,  34.        ,  34.0990991 ,  34.1981982 ,
         34.2972973 ,  34.3963964 ,  34.4954955 ,  34.59459459,
         34.69369369,  34.79279279,  34.89189189,  34.99099099,
         35.09009009,  35.18918919,  35.28828829,  35.38738739,
         35.48648649,  35.58558559,  35.68468468,  35.78378378,
         35.88288288,  35.98198198,  36.08108108,  36.18018018,
         36.27927928,  36.37837838,  36.47747748,  36.57657658,
         36.67567568,  36.77477477,  36.87387387,  36.97297297,
         37.07207207,  37.17117117,  37.27027027,  37.36936937,
         37.46846847,  37.56756757,  37.66666667,  37.76576577,
         37.86486486,  37.96396396,  38.06306306,  38.16216216,
         38.26126126,  38.36036036,  38.45945946,  38.55855856,
         38.65765766,  38.75675676,  38.85585586,  38.95495495,
         39.05405405,  39.15315315,  39.25225225,  39.35135135,
         39.45045045,  39.54954955,  39.64864865,  39.74774775,
         39.84684685,  39.94594595,  40.04504505,  40.14414414,
         40.24324324,  40.34234234,  40.44144144,  40.54054054,
         40.63963964,  40.73873874,  40.83783784,  40.93693694,
         41.03603604,  41.13513514,  41.23423423,  41.33333333,
         41.43243243,  41.53153153,  41.63063063,  41.72972973,
         41.82882883,  41.92792793,  42.02702703,  42.12612613,
         42.22522523,  42.32432432,  42.42342342,  42.52252252,
         42.62162162,  42.72072072,  42.81981982,  42.91891892,
         43.01801802,  43.11711712,  43.21621622,  43.31531532,
         43.41441441,  43.51351351,  43.61261261,  43.71171171,
         43.81081081,  43.90990991,  44.00900901,  44.10810811,
         44.20720721,  44.30630631,  44.40540541,  44.5045045 ,
         44.6036036 ,  44.7027027 ,  44.8018018 ,  44.9009009 ,
         45.        ,  45.0990991 ,  45.1981982 ,  45.2972973 ,
         45.3963964 ,  45.4954955 ,  45.59459459,  45.69369369,
         45.79279279,  45.89189189,  45.99099099,  46.09009009,
         46.18918919,  46.28828829,  46.38738739,  46.48648649,
         46.58558559,  46.68468468,  46.78378378,  46.88288288,
         46.98198198,  47.08108108,  47.18018018,  47.27927928,
         47.37837838,  47.47747748,  47.57657658,  47.67567568,
         47.77477477,  47.87387387,  47.97297297,  48.07207207,
         48.17117117,  48.27027027,  48.36936937,  48.46846847,
         48.56756757,  48.66666667,  48.76576577,  48.86486486,
         48.96396396,  49.06306306,  49.16216216,  49.26126126,
         49.36036036,  49.45945946,  49.55855856,  49.65765766,
         49.75675676,  49.85585586,  49.95495495,  50.05405405,
         50.15315315,  50.25225225,  50.35135135,  50.45045045,
         50.54954955,  50.64864865,  50.74774775,  50.84684685,
         50.94594595,  51.04504505,  51.14414414,  51.24324324,
         51.34234234,  51.44144144,  51.54054054,  51.63963964,
         51.73873874,  51.83783784,  51.93693694,  52.03603604,
         52.13513514,  52.23423423,  52.33333333,  52.43243243,
         52.53153153,  52.63063063,  52.72972973,  52.82882883,
         52.92792793,  53.02702703,  53.12612613,  53.22522523,
         53.32432432,  53.42342342,  53.52252252,  53.62162162,
         53.72072072,  53.81981982,  53.91891892,  54.01801802,
         54.11711712,  54.21621622,  54.31531532,  54.41441441,
         54.51351351,  54.61261261,  54.71171171,  54.81081081,
         54.90990991,  55.00900901,  55.10810811,  55.20720721,
         55.30630631,  55.40540541,  55.5045045 ,  55.6036036 ,
         55.7027027 ,  55.8018018 ,  55.9009009 ,  56.        ,
         56.0990991 ,  56.1981982 ,  56.2972973 ,  56.3963964 ,
         56.4954955 ,  56.59459459,  56.69369369,  56.79279279,
         56.89189189,  56.99099099,  57.09009009,  57.18918919,
         57.28828829,  57.38738739,  57.48648649,  57.58558559,
         57.68468468,  57.78378378,  57.88288288,  57.98198198,
         58.08108108,  58.18018018,  58.27927928,  58.37837838,
         58.47747748,  58.57657658,  58.67567568,  58.77477477,
         58.87387387,  58.97297297,  59.07207207,  59.17117117,
         59.27027027,  59.36936937,  59.46846847,  59.56756757,
         59.66666667,  59.76576577,  59.86486486,  59.96396396,
         60.06306306,  60.16216216,  60.26126126,  60.36036036,
         60.45945946,  60.55855856,  60.65765766,  60.75675676,
         60.85585586,  60.95495495,  61.05405405,  61.15315315,
         61.25225225,  61.35135135,  61.45045045,  61.54954955,
         61.64864865,  61.74774775,  61.84684685,  61.94594595,
         62.04504505,  62.14414414,  62.24324324,  62.34234234,
         62.44144144,  62.54054054,  62.63963964,  62.73873874,
         62.83783784,  62.93693694,  63.03603604,  63.13513514,
         63.23423423,  63.33333333,  63.43243243,  63.53153153,
         63.63063063,  63.72972973,  63.82882883,  63.92792793,
         64.02702703,  64.12612613,  64.22522523,  64.32432432,
         64.42342342,  64.52252252,  64.62162162,  64.72072072,
         64.81981982,  64.91891892,  65.01801802,  65.11711712,
         65.21621622,  65.31531532,  65.41441441,  65.51351351,
         65.61261261,  65.71171171,  65.81081081,  65.90990991,
         66.00900901,  66.10810811,  66.20720721,  66.30630631,
         66.40540541,  66.5045045 ,  66.6036036 ,  66.7027027 ,
         66.8018018 ,  66.9009009 ,  67.        ,  67.0990991 ,
         67.1981982 ,  67.2972973 ,  67.3963964 ,  67.4954955 ,
         67.59459459,  67.69369369,  67.79279279,  67.89189189,
         67.99099099,  68.09009009,  68.18918919,  68.28828829,
         68.38738739,  68.48648649,  68.58558559,  68.68468468,
         68.78378378,  68.88288288,  68.98198198,  69.08108108,
         69.18018018,  69.27927928,  69.37837838,  69.47747748,
         69.57657658,  69.67567568,  69.77477477,  69.87387387,
         69.97297297,  70.07207207,  70.17117117,  70.27027027,
         70.36936937,  70.46846847,  70.56756757,  70.66666667,
         70.76576577,  70.86486486,  70.96396396,  71.06306306,
         71.16216216,  71.26126126,  71.36036036,  71.45945946,
         71.55855856,  71.65765766,  71.75675676,  71.85585586,
         71.95495495,  72.05405405,  72.15315315,  72.25225225,
         72.35135135,  72.45045045,  72.54954955,  72.64864865,
         72.74774775,  72.84684685,  72.94594595,  73.04504505,
         73.14414414,  73.24324324,  73.34234234,  73.44144144,
         73.54054054,  73.63963964,  73.73873874,  73.83783784,
         73.93693694,  74.03603604,  74.13513514,  74.23423423,
         74.33333333,  74.43243243,  74.53153153,  74.63063063,
         74.72972973,  74.82882883,  74.92792793,  75.02702703,
         75.12612613,  75.22522523,  75.32432432,  75.42342342,
         75.52252252,  75.62162162,  75.72072072,  75.81981982,
         75.91891892,  76.01801802,  76.11711712,  76.21621622,
         76.31531532,  76.41441441,  76.51351351,  76.61261261,
         76.71171171,  76.81081081,  76.90990991,  77.00900901,
         77.10810811,  77.20720721,  77.30630631,  77.40540541,
         77.5045045 ,  77.6036036 ,  77.7027027 ,  77.8018018 ,
         77.9009009 ,  78.        ,  78.0990991 ,  78.1981982 ,
         78.2972973 ,  78.3963964 ,  78.4954955 ,  78.59459459,
         78.69369369,  78.79279279,  78.89189189,  78.99099099,
         79.09009009,  79.18918919,  79.28828829,  79.38738739,
         79.48648649,  79.58558559,  79.68468468,  79.78378378,
         79.88288288,  79.98198198,  80.08108108,  80.18018018,
         80.27927928,  80.37837838,  80.47747748,  80.57657658,
         80.67567568,  80.77477477,  80.87387387,  80.97297297,
         81.07207207,  81.17117117,  81.27027027,  81.36936937,
         81.46846847,  81.56756757,  81.66666667,  81.76576577,
         81.86486486,  81.96396396,  82.06306306,  82.16216216,
         82.26126126,  82.36036036,  82.45945946,  82.55855856,
         82.65765766,  82.75675676,  82.85585586,  82.95495495,
         83.05405405,  83.15315315,  83.25225225,  83.35135135,
         83.45045045,  83.54954955,  83.64864865,  83.74774775,
         83.84684685,  83.94594595,  84.04504505,  84.14414414,
         84.24324324,  84.34234234,  84.44144144,  84.54054054,
         84.63963964,  84.73873874,  84.83783784,  84.93693694,
         85.03603604,  85.13513514,  85.23423423,  85.33333333,
         85.43243243,  85.53153153,  85.63063063,  85.72972973,
         85.82882883,  85.92792793,  86.02702703,  86.12612613,
         86.22522523,  86.32432432,  86.42342342,  86.52252252,
         86.62162162,  86.72072072,  86.81981982,  86.91891892,
         87.01801802,  87.11711712,  87.21621622,  87.31531532,
         87.41441441,  87.51351351,  87.61261261,  87.71171171,
         87.81081081,  87.90990991,  88.00900901,  88.10810811,
         88.20720721,  88.30630631,  88.40540541,  88.5045045 ,
         88.6036036 ,  88.7027027 ,  88.8018018 ,  88.9009009 ,
         89.        ,  89.0990991 ,  89.1981982 ,  89.2972973 ,
         89.3963964 ,  89.4954955 ,  89.59459459,  89.69369369,
         89.79279279,  89.89189189,  89.99099099,  90.09009009,
         90.18918919,  90.28828829,  90.38738739,  90.48648649,
         90.58558559,  90.68468468,  90.78378378,  90.88288288,
         90.98198198,  91.08108108,  91.18018018,  91.27927928,
         91.37837838,  91.47747748,  91.57657658,  91.67567568,
         91.77477477,  91.87387387,  91.97297297,  92.07207207,
         92.17117117,  92.27027027,  92.36936937,  92.46846847,
         92.56756757,  92.66666667,  92.76576577,  92.86486486,
         92.96396396,  93.06306306,  93.16216216,  93.26126126,
         93.36036036,  93.45945946,  93.55855856,  93.65765766,
         93.75675676,  93.85585586,  93.95495495,  94.05405405,
         94.15315315,  94.25225225,  94.35135135,  94.45045045,
         94.54954955,  94.64864865,  94.74774775,  94.84684685,
         94.94594595,  95.04504505,  95.14414414,  95.24324324,
         95.34234234,  95.44144144,  95.54054054,  95.63963964,
         95.73873874,  95.83783784,  95.93693694,  96.03603604,
         96.13513514,  96.23423423,  96.33333333,  96.43243243,
         96.53153153,  96.63063063,  96.72972973,  96.82882883,
         96.92792793,  97.02702703,  97.12612613,  97.22522523,
         97.32432432,  97.42342342,  97.52252252,  97.62162162,
         97.72072072,  97.81981982,  97.91891892,  98.01801802,
         98.11711712,  98.21621622,  98.31531532,  98.41441441,
         98.51351351,  98.61261261,  98.71171171,  98.81081081,
         98.90990991,  99.00900901,  99.10810811,  99.20720721,
         99.30630631,  99.40540541,  99.5045045 ,  99.6036036 ,
         99.7027027 ,  99.8018018 ,  99.9009009 , 100.        ]),
 0.0990990990990991)

In [20]:
# Lets find the step size with "retstep" which returns the array and the step size
my_linspace = np.linspace(9, 15, 20, retstep=True)
my_linspace
# my_linspace[1] to get the stepsize only

(array([ 9.        ,  9.31578947,  9.63157895,  9.94736842, 10.26315789,
        10.57894737, 10.89473684, 11.21052632, 11.52631579, 11.84210526,
        12.15789474, 12.47368421, 12.78947368, 13.10526316, 13.42105263,
        13.73684211, 14.05263158, 14.36842105, 14.68421053, 15.        ]),
 0.3157894736842105)

In [23]:
np.linspace(1,2,30) # 1-D array

array([1.        , 1.03448276, 1.06896552, 1.10344828, 1.13793103,
       1.17241379, 1.20689655, 1.24137931, 1.27586207, 1.31034483,
       1.34482759, 1.37931034, 1.4137931 , 1.44827586, 1.48275862,
       1.51724138, 1.55172414, 1.5862069 , 1.62068966, 1.65517241,
       1.68965517, 1.72413793, 1.75862069, 1.79310345, 1.82758621,
       1.86206897, 1.89655172, 1.93103448, 1.96551724, 2.        ])

## Don't Confuse!
  * <b>arange() takes 3rd argument as step size.<b><br>
  * <b>linspace() take 3rd argument as no of point we want.<b>

In [24]:
x = np.arange(0, 16)
x

array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15])

In [42]:
x.shape

(16,)

In [31]:
x.reshape(2,8)

array([[ 0,  1,  2,  3,  4,  5,  6,  7],
       [ 8,  9, 10, 11, 12, 13, 14, 15]])

In [32]:
x

array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15])

In [35]:
y = x.reshape(2, 4, 2)

In [37]:
y.shape

(2, 4, 2)

In [43]:
x = y.reshape(16)

In [44]:
x

array([[ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15]])

In [45]:
x.shape

(1, 16)

## Random 

We can also create arrays with random numbers using Numpy's built-in functions in Random module.<br>
*np.random. and then press tab for the options with random*

### `rand()`
Create an array of the given shape and populate it with
random samples from a uniform distribution
over ``[0, 1)``.

In [48]:
np.random.rand(4) # 1-D array with three elements

array([0.56857193, 0.70444535, 0.38774413, 0.06367394])

In [51]:
np.random.rand(6,4)  # row, col, note we are not passing a tuple here, each dimension as a separate argument

array([[0.60525625, 0.2546573 , 0.41268991, 0.16109012],
       [0.54346942, 0.80262832, 0.52027391, 0.88833263],
       [0.94015934, 0.03242477, 0.96564455, 0.74594476],
       [0.82275534, 0.01635633, 0.584864  , 0.08268238],
       [0.07011841, 0.22109206, 0.85855401, 0.52235779],
       [0.42877327, 0.9725418 , 0.94471874, 0.35214834]])

### `randn()`

Return a sample (or samples) from the "standard normal" or a "Gaussian" distribution. Unlike rand which is uniform.<br>
*Press shift+tab for the documentation.*

In [49]:
np.random.randn(20, 5)

array([[-0.3785554 ,  0.76683253,  0.46403511, -0.17446704, -0.49895586],
       [-0.07651869,  1.67332856, -1.17776378,  0.67141443,  1.18687949],
       [-0.50583516, -0.16739299,  0.22570882,  0.87904216,  1.24454809],
       [ 1.03324577,  0.33818052,  0.79445076, -0.78016364,  1.88401662],
       [-0.32838298, -0.68136582,  0.28934307, -1.56509394, -2.2632    ],
       [-1.13124934,  1.74784172, -0.02895782,  0.33787055,  1.81356323],
       [ 1.1358997 , -0.4288521 , -1.09702149,  1.13767126,  1.41133331],
       [ 0.46360361, -0.31006647, -0.54608849,  1.40243156,  1.16399979],
       [ 0.35616712,  0.96075028,  1.03054568,  0.03462323,  1.47147814],
       [ 2.4748718 ,  0.59293189,  0.64816995,  1.49629931,  0.87151281],
       [-0.73405864,  0.14191941,  1.30961165, -3.46060373, -0.35232833],
       [-0.39047642,  0.16211159, -0.91087343,  1.96433061, -1.82975034],
       [-0.11134171, -0.65852831,  0.08856821,  1.14731113, -1.4412438 ],
       [-1.86578721, -0.39028719,  0.36702901,  2.0783086 ,  0.29389825],
       [ 0.94810689, -0.65210983, -1.95745821, -0.67891653,  0.30069195],
       [-0.63905339,  0.21631934,  2.38966296,  0.88336463,  0.85482236],
       [ 2.06897648,  0.96732151,  0.30073219,  0.00534367, -0.16702673],
       [ 0.84427584,  1.01836759, -0.59400278,  0.50839913, -2.6895449 ],
       [-0.74305684, -2.22702097,  0.03750835,  0.72493196, -0.20837448],
       [-0.3458054 , -0.89795351,  0.60842986,  0.26198692,  0.29669651]])

In [ ]:
normal_array = np.random.randn(1000,1) # no tuple, each dimension as a separate argument
normal_array

In [ ]:
import pandas as pd

df = pd.DataFrame(data=normal_array, columns=['A'])
df

In [ ]:
df['A'].hist(bins=100)

### `randint()`
Return random integers from `low` (inclusive) to `high` (exclusive).

In [56]:
np.random.randint(100, 200, 20) #returns one random int, 1 inclusive, 100 exclusive

array([191, 134, 165, 134, 155, 109, 120, 162, 126, 173, 133, 131, 106,
       139, 193, 154, 195, 132, 179, 190])

In [59]:
np.random.randint(100,200,20).reshape(4,5) #returns ten random int,

array([[150, 136, 173, 177, 192],
       [157, 191, 174, 174, 183],
       [102, 150, 101, 171, 114],
       [148, 124, 163, 173, 147]])

## Array Methods & Attributes
Some important Methods and Attributes are important to know:<br>

### Methods:
* reshape(), max(), min(), argmax(), argmin()<br>

In [60]:
# lets create 2 arrays using arange() and randint()
array_ranint = np.random.randint(0,100,10)

In [61]:
array_ranint

array([98, 23,  7, 84, 16,  8, 87, 35, 20, 84])

#### `max()` & `min()`
Useful methods for finding max or min values.

In [62]:
array_ranint

array([98, 23,  7, 84, 16,  8, 87, 35, 20, 84])

In [63]:
array_ranint.min()

7

In [64]:
array_ranint.max()

98

#### `argmax()` & `argmin()`
To find the index locations of max and min values in array

In [65]:
array_ranint.argmax() # index starts from 0

0

In [66]:
array_ranint.argmin()

2

### Attributes
* `size, shape, dtype`

In [67]:
array_arange=np.arange(16)

In [68]:
array_arange

array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15])

In [69]:
# Lets take vector array, array_arange 
array_arange.shape
#reshape_test.shape

(16,)

In [70]:
array_arange.size

16

In [71]:
# Size of the array 
array_arange.itemsize

4

In [72]:
# Type of the data.
array_arange.dtype

dtype('int32')

In [73]:
array_arange.reshape(4,4)

array([[ 0,  1,  2,  3],
       [ 4,  5,  6,  7],
       [ 8,  9, 10, 11],
       [12, 13, 14, 15]])

In [74]:
array_arange

array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15])

In [75]:
array_arange.shape = (4,4)

In [76]:
array_arange

array([[ 0,  1,  2,  3],
       [ 4,  5,  6,  7],
       [ 8,  9, 10, 11],
       [12, 13, 14, 15]])

In [77]:
array_arange.reshape(1,16)

array([[ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15]])

In [78]:
array_arange

array([[ 0,  1,  2,  3],
       [ 4,  5,  6,  7],
       [ 8,  9, 10, 11],
       [12, 13, 14, 15]])

In [ ]:
array_arange.reshape(1,16).shape

### Indexing & slicing of 1-D arrays (vectors)

In [79]:
array_1d = np.array([-10, -2, 0, 2, 17, 106,200])

In [80]:
array_1d

array([-10,  -2,   0,   2,  17, 106, 200])

In [81]:
array_1d[2]

0

In [82]:
# Getting a range value
array_1d[0:3]

array([-10,  -2,   0])

In [83]:
# Using -ve index 
array_1d[-2]

106

In [84]:
# Using -ve index for a range 
array_1d[1:-2]

array([-2,  0,  2, 17])

In [85]:
array_1d

array([-10,  -2,   0,   2,  17, 106, 200])

In [86]:
array_1d[:2]

array([-10,  -2])

In [87]:
array_1d[2:]

array([  0,   2,  17, 106, 200])

In [89]:
# Assigning a new value to a certain index in the array 
array_1d[0] = -102

In [90]:
array_1d
# The first element is changed to -102

array([-102,   -2,    0,    2,   17,  106,  200])

###  Indexing & slicing 2-D arrays (matrices)

Lets create an array with 24 elements using arange() and convert it to 2D matrix using "shape".<br>
*note, 6 x 4 = 24*

In [91]:
array_2d = np.arange(24)
array_2d = array_2d.reshape(6,4)
array_2d

array([[ 0,  1,  2,  3],
       [ 4,  5,  6,  7],
       [ 8,  9, 10, 11],
       [12, 13, 14, 15],
       [16, 17, 18, 19],
       [20, 21, 22, 23]])

To access any element, the general format is: <br>
* **`array_2d[row][col]`** <br>or<br> 
* **`array_2d[row,col]`**. 

We will use `[row,col]`, easier to use comma ',' for clarity.

In [92]:
# To get a complete row
array_2d[2]

array([ 8,  9, 10, 11])

In [93]:
array_2d[-4] # -0 and 0 is same inedex

array([ 8,  9, 10, 11])

In [94]:
array_2d

array([[ 0,  1,  2,  3],
       [ 4,  5,  6,  7],
       [ 8,  9, 10, 11],
       [12, 13, 14, 15],
       [16, 17, 18, 19],
       [20, 21, 22, 23]])

In [95]:
# another way 
row = 5
column = 2
array_2d[row, column]

22

In [96]:
# Just to make sure, using [row][col] :)
array_2d[5][2]

22

In [97]:
array_2d

array([[ 0,  1,  2,  3],
       [ 4,  5,  6,  7],
       [ 8,  9, 10, 11],
       [12, 13, 14, 15],
       [16, 17, 18, 19],
       [20, 21, 22, 23]])

In [98]:
# 2D array slicing
array_2d[:2,:2]

array([[0, 1],
       [4, 5]])

### Broadcasting

Numpy arrays are different from normal Python lists because of their ability to broadcast. We will only cover the basics, for further details on broadcasting rules, click [here](https://docs.scipy.org/doc/numpy/user/basics.broadcasting.html) <br>
Another good read on [broadcasting](https://jakevdp.github.io/PythonDataScienceHandbook/02.05-computation-on-arrays-broadcasting.html)!<br>

**Lets start with some simple examples:**

In [ ]:
# Lets create an array using arange()
array_1d = np.arange(0,10)
array_1d

Take a slice of the array and set it equal to some number, say 500.<br>

        array_1d[0:5] = 500 
this will **broadcast the value of 500 to the first 5 elements** of the array_1d

In [ ]:
array_1d[0:5] = 500 
array_1d

In [ ]:
# Lets create a 2D martix with ones
array_2d = np.ones((4,4), dtype=int)
array_2d

In [ ]:
# Lets broadcast 300 to the first row of array_2d
array_2d[0] = 300
array_2d

In [ ]:
# Lets create a simple 1-D array and broadcast to array_2d
array_2d + np.arange(0,4)  #[0,1,2,3]
# try array_2d + np.arange(0,3), did this work? if not why?

In [ ]:
array_2d

In [ ]:
array_2d * np.arange(0,4)

In [ ]:
array_2d + 300
# array_2d + [300,2], did it work? if not why?

In [ ]:
array_2d

In [ ]:
array_2d[[3, 1]]

In [ ]:
array_2d[:,[2]]

In [ ]:
array_2d

In [ ]:
# We can use any order
array_2d[[3, 1]]

In [ ]:
# lets try another matrix
array_2d = np.arange(24)
array_2d.shape = (6,4)
array_2d

In [ ]:
# grabbing rows
array_2d[[2,3]] #[2][3]

In [ ]:
array_2d[:3, [2,3]]

In [ ]:
# grabbing columns
#array_2d[:,3:2]
array_2d[:,[3,2]]

In [ ]:
# Lets create a simple array using arange()
array_1d = np.arange(1,11)
array_1d

We can apply condition such as >, <, == etc

In [ ]:
array_1d > 3

In [ ]:
# lets create a bool_array for some condition, say array_1d > 3
bool_array = array_1d > 3
bool_array

Lets create a mask to **filter out the even numbers in "array_1d"**

In [ ]:
array_1d % 2

In [ ]:
0 == array_1d % 2

In [ ]:
# A number is even if, number % 2 is "0"
mod_2_mask_1d = array_1d % 2 != 0 
mod_2_mask_1d

In [ ]:
array_1d

In [ ]:
array_1d[mod_2_mask_1d] #array_1d[[False,  True, False,  True, False,  True, False,  True, False,True]]

## NumPy Operations 

Hi Guys,<br>
Welcome to the NumPy Essentials lecture part 2.<br>

Let's talk about NumPy operations in this section, such as:

* <b>Arithmetic operations</b>
* <b>Universal Functions (ufunc)</b>

## Arithmetic operations

We can perform arithmetic operations with NumPy arrays. <br>
Let's learn with examples:

In [ ]:
# Let's create an array using arange() method
arr = np.arange(0,5)
arr

In [ ]:
# Adding two arrays
arr + arr  #[0, 1, 2, 3, 4] + [0, 1, 2, 3, 4]

In [ ]:
# Subtracting two arrays
arr - arr

In [ ]:
# Multiplication
arr * arr

In [ ]:
# Division
arr / arr
# warning and 0/0 is replaced with nan

In [ ]:
1/arr #[0, 1, 2, 3, 4]
# warning for 1/0, inf

In [ ]:
# Power of all the elements in an array
arr ** 2

In [ ]:
# Multiplication with scalar 
2 * arr #[0, 1, 2, 3, 4]

## Universal functions

NumPy have a range of built-in [universal functions](http://docs.scipy.org/doc/numpy/reference/ufuncs.html) (ufunc). These are essentially just mathematical operations and we can use them to perform specific task, associate with the function, across the NumPy array.<br>
Let's learn with examples:

In [ ]:
# Square root
np.sqrt(arr) #[0, 1, 2, 3, 4]

In [ ]:
# max and min values
np.max(arr), np.min(arr)

In [ ]:
arr.max()

In [ ]:
# Trigonometric functions, e.g. sin, cos, tan, arcsin, ......
np.sin(arr)

**Generate the follow matrix "array_2d" and replicate the provided outputs.**

In [ ]:
#18a:
# To avoid overwriting the output, please code here

In [ ]:
array_2d= np.arange(30).reshape(6,5)
array_2d

**Calculate the sum of all the numbers in array_2d?**

In [ ]:
array_2d.sum()

In [ ]:
array_2d.sum(axis=1)

**Calculate sum of all the rows and columns in array_2d.**

In [ ]:
# To avoid overwriting the output, please code here

In [ ]:
print("Row sum:", array_2d.sum(axis=1))
print("Columns sum:", array_2d.sum(axis=0))

**Calculate the standard deviation of the values in array_2d.**

In [ ]:
# To avoid overwriting the output, please code here

In [ ]:
array_2d.std()

**Create a boolean mask and list out the numbers that are not divisible by 3 in array_2d.**

In [ ]:
# To avoid overwriting the output, please code here

In [ ]:
array_2d

In [ ]:
array_2d % 3 == 0

In [ ]:
mask_mod_3 = 0 != array_2d % 3
mask_mod_3

In [ ]:
mask_mod_3 = 0 != array_2d % 3  # Creating mask for the said condition
array_2d[mask_mod_3]            # pass the boolean mask to array_2d to return the required results

In [ ]:
np.zeros(5)